.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $main-text-color;

  &__partname {
    color: $focus-color;
  }

  &--white {
    color: $second-text-color;
  }
}