@mixin button($padding: 10px 32px, $color: $second-text-color) {
    padding: $padding;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border-color: transparent;
    color: $color;
    background-color: $focus-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@mixin backdrop($color: rgba(0, 0, 0, 0.2)) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
}

@mixin quadraticItem($size) {
    width: $size;
    height: $size;
}

;